*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
}
textarea{
    width: 700px;
    height: 200px;
    margin: 10px;
    font-size: 20px;
}
.text_area_block{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}
.keyboard-block{
    margin-top: 40px;
    width: 100%;
    padding: 5px 0;
    background: #01063ca5;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    
}

.keyboard_keys {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 1020px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 30px;

}
.keyboard__key {
    height: 60px;
    width: 60px;
    max-width: 700px;
    margin: 3px;
    border-radius: 4px;
    border: solid 1px black;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    display: inline;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
}
.keyboard__key:active {
    background-color: blueviolet;
    border-radius: 10px;
    
}
.active{
    background-color: blueviolet;
    border-radius: 10px;
}

.keyboard__key:nth-child(57){
    width: 390px;
}
.keyboard__key:nth-child(61){
    rotate: 270deg;
}
.keyboard__key:nth-child(14),
.keyboard__key:nth-child(29),
.keyboard__key:nth-child(53),
.keyboard__key:nth-child(54),
.keyboard__key:nth-child(40),
.keyboard__key:nth-child(41),
.keyboard__key:nth-child(15) {
    width: 96px;
}
.keyboard__key:nth-child(52) {
    rotate: 270deg;
}