*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
textarea{
    width: 700px;
    height: 200px;
}
.text_area_block{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}
.keyboard-block{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #3a0892;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}